.display-none {
  display: none;
}

.cam-display {
  width: 100%;
  height: 100%;
}

.cam-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.capture-button {
  left:50%;
  bottom:5%;
  position:absolute;
  z-index:1;
}

.photo-button {
  width: 100px;
  height: 100px;
  bottom: 5%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  position: absolute;
}
.photo-circle {
  position: absolute;
  top: 12%;
  left: 12%;
  bottom: 12%;
  right: 12%;
  border-radius: 100%;
  background-color: #ffffff;
  opacity: 0;
}
.photo-ring {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  border-radius: 100%;
  border: 0.5em solid #ffffff;
  opacity: 0.8;
}
.photo-button .photo-circle, .photo-button .photo-ring {
  transition: all 0.25s;
}
.photo-button:hover .photo-circle {
  opacity: 1;
}
.photo-button:active .photo-ring {
  opacity: 1;
}
.photo-button:active .photo-circle {
  opacity: 0.5;
}